<appSettings>
<add key="KEY_GREEN" value="C:\Windows\System32\DisplaySwitch.exe" />
<add key="KEY_YELLOW" value="D:\Program Files\Plex Media Player\PlexMediaPlayer.exe" />
<add key="KEY_FN_B"	value="{F11}" />
<add key="CTRL_KEY_Y" value="C:\Users\paheansa\Desktop\Youtube on TV" />
<add key="KEY_STOP"	value="C:\Users\paheansa\Desktop\Youtube on TV" />
<add key="KEY_SEC_RED" value="C:\Users\paheansa\Desktop\Youtube on TV" />
<add key="KEY_A" value="a" />
<add key="KEY_B" value="b" />
<add key="KEY_C" value="c" />
<add key="KEY_D" value="d" />
<add key="KEY_E" value="e" />
<add key="KEY_F" value="f" />
<add key="KEY_G" value="g" />
<add key="KEY_H" value="h" />
<add key="KEY_I" value="i" />
<add key="KEY_J" value="j" />
<add key="KEY_K" value="k" />
<add key="KEY_L" value="l" />
<add key="KEY_M" value="m" />
<add key="KEY_N" value="n" />
<add key="KEY_O" value="o" />
<add key="KEY_P" value="p" />
<add key="KEY_Q" value="q" />
<add key="KEY_R" value="r" />
<add key="KEY_S" value="s" />
<add key="KEY_T" value="t" />
<add key="KEY_U" value="u" />
<add key="KEY_W" value="w" />
<add key="KEY_V" value="v" />
<add key="KEY_X" value="x" />
<add key="KEY_Y" value="y" />
<add key="KEY_Z" value="z" />
<add key="+KEY_A" value="A" />
<add key="+KEY_B" value="B" />
<add key="+KEY_C" value="C" />
<add key="+KEY_D" value="D" />
<add key="+KEY_E" value="E" />
<add key="+KEY_F" value="F" />
<add key="+KEY_G" value="G" />
<add key="+KEY_H" value="H" />
<add key="+KEY_I" value="I" />
<add key="+KEY_J" value="J" />
<add key="+KEY_K" value="K" />
<add key="+KEY_L" value="L" />
<add key="+KEY_M" value="M" />
<add key="+KEY_N" value="N" />
<add key="+KEY_O" value="O" />
<add key="+KEY_P" value="P" />
<add key="+KEY_Q" value="Q" />
<add key="+KEY_R" value="R" />
<add key="+KEY_S" value="S" />
<add key="+KEY_T" value="T" />
<add key="+KEY_U" value="U" />
<add key="+KEY_W" value="W" />
<add key="+KEY_V" value="V" />
<add key="+KEY_X" value="X" />
<add key="+KEY_Y" value="Y" />
<add key="+KEY_Z" value="Z" />
<add key="KEY_1" value="1" />
<add key="KEY_2" value="2" />
<add key="KEY_3" value="3" />
<add key="KEY_4" value="4" />
<add key="KEY_5" value="5" />
<add key="KEY_6" value="6" />
<add key="KEY_7" value="7" />
<add key="KEY_8" value="8" />
<add key="KEY_9" value="9" />
<add key="KEY_0" value="0" />
<add key="KEY_SEMICOLON" value=";" />
<add key="+KEY_SEMICOLON" value=":" />
<add key="KEY_COMMA" value="," />
<add key="KEY_DOT" value="." />
<add key="KEY_RIGHTBRACE" value="]" />
<add key="KEY_LEFTBRACE" value="[" />
<add key="KEY_KPMINUS" value="-" />
<add key="KEY_SLASH" value="/" />
<add key="KEY_BACKSLASH" value="\" />
<add key="KEY_APOSTROPHE" value="'" />
<add key="KEY_EQUAL" value="=" />
<add key="KEY_KP8" value="{UP}" />
<add key="KEY_KP2" value="{DOWN}" />
<add key="KEY_KP4" value="{LEFT}" />
<add key="KEY_KP6" value="{RIGHT}" />
<add key="KEY_NEXT" value="+(N)" />
<add key="KEY_PREVIOUS" value="+(P)" />
<add key="KEY_UP" value="{UP}" />
<add key="KEY_DOWN" value="	{DOWN}" />
<add key="KEY_LEFT" value="	{LEFT}" />
<add key="KEY_RIGHT" value="{RIGHT}" />
<add key="KEY_SPACE" value=" " />
<add key="KEY_OK" value="{ENTER}" />
<add key="KEY_BACK" value="	{ESC}" />
<add key="KEY_ENTER" value="{ENTER}" />
<add key="KEY_BACKSPACE" value="{BS}" />
<add key="KEY_CHANNELUP" value="{PGUP}" />
<add key="KEY_CHANNELDOWN" value="{PGDN}" />
<add key="KEY_KPDOT" value="{DEL}" />
<add key="+KEY_SLASH" value="?" />
<add key="+KEY_COMMA" value="&lt;" />
<add key="+KEY_DOT" value="&gt;" />
<add key="+KEY_MINUS" value="{_}" />
<add key="+KEY_EQUAL" value="{+}" />
<add key="+KEY_APOSTROPHE" value="&quot;" />
<add key="+KEY_GRAVE" value="{~}" />
<add key="+KEY_1" value="!" />
<add key="+KEY_2" value="@" />
<add key="+KEY_3" value="#" />
<add key="+KEY_4" value="$" />
<add key="+KEY_5" value="{%}" />
<add key="+KEY_7" value="&amp;" />
<add key="+KEY_8" value="*" />
<add key="+KEY_9" value="{(}" />
<add key="+KEY_0" value="{)}" />

<add key="BTN_B" value="{ENTER}" />
<add key="BTN_A" value="R" />
<add key="BTN_C" value="C" />
</appSettings>